/*MAIN LAYOUT COMPONENT*/

.layout-box {
  backgound: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

    .page-content {
      flex-grow: 1;
      overflow-y: scroll;
    }
}

.top-bar {
  width: 100%;
  height: 68px;
  //background: linear-gradient(to right, $primary, $secondary);

  display: flex;
  flex-shrink: 0; //to prevent the top bar from shrinking

//center child element (heading)
  justify-content: center;
  align-items: center;


  h2 {
    color: $font-light;
  }
}
