.main-container {

  background: #eeeeee;
  border-radius: 8px;
  padding: 10px 25px;
  box-shadow: 0px 0px 0px 2px rgba(black, 0.068);

  max-width: 500px;
  margin: auto;
  margin-top: 50px;


  .search-bar-container {
    margin: 15px auto;

    input {
      background: #fff;
    }
  }

}
