.note-card-container {

  .note-card-content {
    position: relative;
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    transition: box-shadow 0.2s ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 0px 2px rgba(black, 0.068);


      .x-button {
        opacity: 1;
        transition-delay: 0.1s;

        transform: scale(1);
      }
    }

    h3 {
      color: $primary;
      font-size: 23px;
    }
  }

  .x-button {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 20px;
    width: 23px;

    background-color: $light-red;
    background-image: url('/../../assets/delete_icon.svg');
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;

    //button settings default
    opacity: 0;
    transform: scale(0.1);

    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transition-delay: 0.1s;

    &:hover {
      background-color: darken($light-red,5%);
      transition: 0.1s ease-out;
    }

    &:active {
      background-color: darken($light-red, 10%);

    }
  }


}
